<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
</head>

<body>
    <header>
        <%- include('../../layout/header') %>
    </header>
    <main>
        <section class="card">
            <ul>
                <h4 class="title1">
                    Title:
                    <%= books.title %>
                </h4>
                <p class="author1">
                    Author:
                    <%= books.author %>
                </p>
                <p class="author1">
                    ISBN:
                    <%= books.isbn %>
                </p>
                <img src="<%= books.image_url %>" class="img2">
                <p class="author1">
                    Description:
                    <%= books.description %>
                </p>
            </ul>
            <form action="/update/<%= books.id %>" method="POST" class="button2">
                <button type="submit">Update the books</button>
            </form>
            <form action="/books/delete/<%= books.id %>?_method=DELETE" method="POST">
                <input type="hidden" value="<%= books.id %> ">
                <input type="submit" value="Delete Books" class="button3">
            </form>
        </section>
    </main>
    <footer>
        <%- include('../../layout/footer') %>
    </footer>
    <script src="../js/app.js"></script>
</body>

</html>