<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
</head>

<body>
    <header>
        <%- include('../../layout/header') %>
    </header>
    <main class="card">
        <section>
            <% searchResults.forEach(book=> {%>
                <section>
                    <img src="<%= book.image_url %>" alt="">
                    <h3>
                        <%= book.title %>
                    </h3>
                    <h4>
                        <%= book.author%>
                    </h4>
                    <p>
                        <%= book.description%>
                    </p>
                </section>
                <form action="/books" method="POST">
                    <input type="hidden" name="title" value="<%= book.title %>">
                    <input type="hidden" name="author" value="<%= book.author %>">
                    <input type="hidden" name="image_url" value="<%= book.image_url %>">
                    <input type="hidden" name="description" value="<%= book.description %>">
                    <input type="hidden" name="isbn" value="<%= book.isbn %>">
                    <input type="submit" value="save book">
                </form>
                <% }) %>

        </section>

    </main>
    <footer>
        <%- include('../../layout/footer') %>
    </footer>
    <script src="../public/js/app.js"></script>
</body>

</html>