<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <main>
        <div class="save">
            <%= results.length %> save books
        </div>
        <section class="card">
            <ul>
                <% if ( results.length ) { %>
                    <% results.forEach( item => { %>
                        <li>
                            <div>
                                <h3 class="title1">
                                    <%= item.title %>
                                </h3>
                                <p class="author1">
                                    <%= item.author %>
                                </p>
                                <img src="<%= item.image_url %>" class="img1">
                                <button class="button1"><a href="/books/<%= item.id %>" target="_blank">View Details</a></button>
                            </div>
                        </li>
                        <% }); %>
                            <% } %>
            </ul>
        </section>
    </main>
    <footer>
        <%- include('../layout/footer') %>
    </footer>
    <script src="../js/app.js"></script>
</body>

</html>